body{
    background-color: rgb(21, 161, 117);
    font-family: 'Times New Roman', Times, serif;
    color:rgb(202, 43, 38);
    line-height: 1.6em;
}
img{
    border-radius: 6%;
}
h1{
    font-size: 1cm;
}
/* *{
    box-sizing: border-box;
    padding: 0.5%;
    margin: 0.5%;
} */
.a{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items:center;
}

.mainText {

    font-size: 1cm;
}